extends layout

block content

	#choices.container
		#plan-wrapper
			#delivery-header Please enter your shipping info
			#delivery-sub-header We treat your coffee like gold.  Like black gold (not Texas tea). It will be shipped safely and is guarenteed!
			form(name="delivery-form", action="/delivery", method="post")
				#address-form-box.address-block
					.row
						.col-sm-6
							h2.address-label Address
							.address-lower-text-wrapper
								h4.address-lower-text Full Name
								input(type='text', placeholder='Full Name', id="full-name", name="full-name", class="form-control")
								.address-help-text Full Name

								h4.address-lower-text Address Line 1
								input(type='text', placeholder='Address Line 1', id="address1", name="address1", class="form-control")
								.address-help-text Street address, P.O. box, company name, c/o

								h4.address-lower-text Address Line 2
								input(type='text', placeholder='Address Line 2', id="address2", name="address2", class="form-control")
								.address-help-text Apartment, suite, unit, building, floor, etc.

								h4.address-lower-text City
								input(type='text', placeholder='City', id="city", name="city", class="form-control")
								.address-help-text City, town, etc.

								h4.address-lower-text State / Province / Region
								select(name='State', id="state", class="form-control")
									option(value='', selected='selected') Select a State
									option(value='AL') Alabama
									option(value='AK') Alaska
									option(value='AZ') Arizona
									option(value='AR') Arkansas
									option(value='CA') California
									option(value='CO') Colorado
									option(value='CT') Connecticut
									option(value='DE') Delaware
									option(value='DC') District Of Columbia
									option(value='FL') Florida
									option(value='GA') Georgia
									option(value='HI') Hawaii
									option(value='ID') Idaho
									option(value='IL') Illinois
									option(value='IN') Indiana
									option(value='IA') Iowa
									option(value='KS') Kansas
									option(value='KY') Kentucky
									option(value='LA') Louisiana
									option(value='ME') Maine
									option(value='MD') Maryland
									option(value='MA') Massachusetts
									option(value='MI') Michigan
									option(value='MN') Minnesota
									option(value='MS') Mississippi
									option(value='MO') Missouri
									option(value='MT') Montana
									option(value='NE') Nebraska
									option(value='NV') Nevada
									option(value='NH') New Hampshire
									option(value='NJ') New Jersey
									option(value='NM') New Mexico
									option(value='NY') New York
									option(value='NC') North Carolina
									option(value='ND') North Dakota
									option(value='OH') Ohio
									option(value='OK') Oklahoma
									option(value='OR') Oregon
									option(value='PA') Pennsylvania
									option(value='RI') Rhode Island
									option(value='SC') South Carolina
									option(value='SD') South Dakota
									option(value='TN') Tennessee
									option(value='TX') Texas
									option(value='UT') Utah
									option(value='VT') Vermont
									option(value='VA') Virginia
									option(value='WA') Washington
									option(value='WV') West Virginia
									option(value='WI') Wisconsin
									option(value='WY') Wyoming

								h4.address-lower-text Zip Code
								input(type='number', placeholder='Zip Code', id="zip", name="zip", class="form-control")
								.address-help-text 

								h4.address-lower-text Date of next delivery (this will be your first delivery if you are just signing up)
								input(type='text', id="datepicker", class="form-control", placeholder="Put datepicker here!") 
								.address-help-text 
				input#submit-choices-btn.btn.btn-primary.btn-lg(type="submit", name="submit")
								

				













